@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url("QldKNThLqRwH-OJ1UHjlKGlZ5qw.eot")/*tpa=http://fonts.gstatic.com/s/inconsolata/v17/QldKNThLqRwH-OJ1UHjlKGlZ5qw.eot*/;
}
