<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace="对应Dao的全限定名"
-->
<mapper namespace="com.itheima.mapper.UserMapper">

    <!--
        映射转换器
    -->
    <resultMap id="UserResultMap" type="User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="sex" property="sex"/>
        <result column="birthday" property="birthday"/>
        <result column="address" property="address"/>

        <!--
            collection:集合转换
            ofType="Account":集合中每个对象需要转换的类型
            property="accounts":表示转换的数据需要赋值给resultMap的指定属性
        -->
        <collection property="accounts" ofType="Account">
            <id column="aid" property="id"/>
            <result column="money" property="money"/>
            <result column="uid" property="uid"/>
        </collection>

    </resultMap>

    <!--
        一对多实现
    -->
    <select id="one2More" parameterType="int" resultMap="UserResultMap">
      SELECT u.*,a.id aid,a.money,a.uid FROM user u,account a WHERE u.id=a.uid AND u.id=#{id}
    </select>

    <resultMap id="userAccountResultMap" type="User">
        <id column="id" property="id"></id>
        <result column="username" property="username"></result>
        <result column="sex" property="sex"></result>
        <result column="birthday" property="birthday"></result>
        <result column="address" property="address"></result>
        <!--一对多映射 -->
        <collection property="accounts" ofType="Account">
            <id column="aid" property="id"/>
            <result column="auid" property="uid"></result>
            <result column="amoney" property="money"></result>
        </collection>
    </resultMap>
    <!--这里的resultMap映射的是单个user,为什么调用之后返回的是List<user>????-->
    <select id="findUserAccountList" resultMap="userAccountResultMap">

           SELECT u.*, acc.id aid,acc.uid auid, acc.money amoney FROM user u LEFT JOIN account acc ON u.id = acc.uid
    </select>

</mapper>